## CMake specifics
CMakeCache.txt
CMakeFiles
CMakeScripts
./Makefile
cmake_install.cmake
install_manifest.txt

## Mac stuff
.DS_Store

## Ignore builds
build/
Debug/
debug/
Release/
release/

## Ignore YCM compiled conf
.ycm_extra_conf.pyc

## C Stuff
*.o
*.s

## Luajit targets
luajit/src/libluajit.so
luajit/src/libluajit.a
luajit/src/luajit
luajit/src/host/buildvm
luajit/src/host/minilua

### Probably shoud add some microsoft specific targets

# Intellij (CLion) - The project just adds useless stuff
.idea
